git+https://github.com/Rapptz/discord.py.git
git+https://github.com/JordanLevy99/discord-ext-voice-recv.git
discord.py[voice]>=2.4.0
python-dotenv
pandas
pydrive
APScheduler
tabulate
dropbox
PyNaCl
pytz
openai
mutagen
finnhub-python
yt-dlp
newsapi-python
pydub
webrtcvad
websockets
numpy