git+https://github.com/Rapptz/discord.py.git
git+https://github.com/imayhaveborkedit/discord-ext-voice-recv.git
python-dotenv
pandas
pydrive
APScheduler
tabulate
dropbox
PyNaCl
pytz
openai
mutagen
finnhub-python
yt-dlp
newsapi-python
pydub